#ifdef VENDOR_EDIT
#/* Yichun.Chen  PSW.BSP.CHG  2019- */
config OPPO_SM7150_CHARGER
	tristate "CONFIG_OPPO_SM7150_CHARGER driver"
	help
	  Enables support for the oppo charging framework

config OPPO_SHORT_C_BATT_CHECK
	bool "OPPO batt short "
	help
	  Say Y here to declare OPPO batt short	 

config OPPO_RTC_DET_SUPPORT
	tristate "OPPO RTC DET SUPPORT"
	default n
	help
	  Say Y to include support

config OPPO_CHECK_CHARGERID_VOLT
	tristate "OPPO CHECK CHARGERID VOLT"
	default n
	help
	  Say Y to include support

config OPPO_SHIP_MODE_SUPPORT
	tristate "OPPO_SHIP_MODE_SUPPORT"
	default n
	help
	  Say Y to include support

config OPPO_SHORT_IC_CHECK
	bool "OPPO short ic"
	help
	  Say Y here to declare OPPO batt short

config OPPO_SHORT_HW_CHECK
	bool "OPPO batt HW SHORT "
	help
	  Say Y here to declare charging system is on MTK

config OPPO_CHIP_SOC_NODE
	bool "OPPO chip soc node"
	help
	  Say Y to include support

source "drivers/power/oppo/Kconfig"
#endif

source "drivers/power/avs/Kconfig"
source "drivers/power/reset/Kconfig"
source "drivers/power/supply/Kconfig"
